mathutils==3.3.0
matplotlib==3.10.3
numpy==2.2.6
open3d==0.19.0
pandas==2.2.3
Pillow==11.2.1
pykitti==0.3.1
sacred==0.8.7
setuptools==59.6.0
tensorboardX==2.6.2.2
torch==2.7.0
torchvision==0.22.0
tqdm==4.67.1
